<!DOCTYPE html>
<html>
<head>
  <title>SolarSearch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='search'>
 <%=form_tag({:action=>"search"},{ :method => :get}) do %>
 <%=hidden_field_tag :per_page,30%>
 <%=text_field_tag :search,params[:search]%>
 <%=submit_tag("search")%> 
 <%end%>
</div>
<%= yield %>

</body>
</html>
